html{
  background-color:black;
}

#mainContainer{
  background-color:black;
  background-image: url("../img/back1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-color: black;
}
body{
  background-color:transparent !important;
  text-align:center !important;
  font-family: 'Cinzel', serif;
  color: white;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
#row2{
  text-align:center !important;
}
#row1{
  text-align:center !important;

}
.img-thumbnail{background-color:black;}
