html{
}

#mainContainer{
  /*background-image: url("../img/back1.pg");**/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;

}
body{
  /*background-color:transparent !important;*/
  text-align:center !important;
  font-family: 'Cinzel', serif;
  color: black;
  /*text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;*/
  
}
#row2{
  text-align:center !important;
}
#row1{
  text-align:center !important;

}
.img-thumbnail{background-color:black;}
img{
  image-orientation: from-image; /* Use EXIF data from the image */
}

#bandName{
   animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
