#playlist{background:#666;}
.active a{color:#5DB0E6;text-decoration:none;}
li a{color:#eeeedd;background:#333;padding:5px;display:block;}
li a:hover{text-decoration:none;}

body{
  background-image: url("../img/back1.png");
  color:white;
}

#name{
  position:relative;
  left:-50%;
}

#carousel-img{
  height: 394px;

  width:100%;
}
